body{
    margin: 0px;
    padding: 0px;
}
.in{
    display:flex;
    flex-direction: row;
    width:97%;  
    flex-wrap: wrap;
    justify-content: space-around;
    margin:0px;
    height:auto;

}
.dekore img{
    width: 220px;   
    height: 400px; 
    margin-bottom:3px;  
    border-radius: 8px;
}
.dekore{
    display: flex;
    flex-direction: column;
    margin:10px;
    padding-top: 5px;
    width: 220px;
    line-height: 1.5;
    font-size: larger;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.dekore p {
    text-align: center;             
    font-weight: bold;       
    color: #000000;          
    margin-top: 0px;     
}
.inspiration{
    font-size: x-large;
    font-style: italic;
    margin: 0%;
}
.dekore input[type="checkbox"]{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    justify-self: start;
    display: flex;
    margin-left: 8% ;
}
.dekore input[type="checkbox"]:checked{
    background-color: #888888;
}


#slideshow {
    position: relative;
    width: 100%;
    height:auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:5% 0%;
}
.slide.dekore{
    height:60vh;
    border-radius: 10px;
    z-index: -1;
}
.dekore img{
    width:280px;
}
.slide{
    display: none;
    flex-wrap: wrap;
    align-items: center;
    width:100%;
    gap:30px;
}

.activ{
    display: flex;
}



#para{
    display: flex;
    left:2px;
}
#pas{
    display: flex;
    right: 12px;
}
.butoni{
    position: absolute;
    font-size: 20px;
    background: rgba(127, 127, 127, 0.5);
    color: white;
    border: none;
    border-radius: 10%;
    padding: 0.5%;
    cursor: pointer;
}
