header{
    display:flex;
    flex-direction: row;
    width:100%;
    height: 20vh;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5%;

}
.container1{
    background-color:rgb(249, 248, 246);
        display: flex;
        flex-direction: row;
        width:100%;
        flex-wrap: wrap;
        justify-content: space-between;
        border-bottom: solid rgb(233, 233, 233);
}
.titulli{
    display: flex;
    flex-direction: row;
    font-family: "WindSong", sans-serif;
    font-weight: 400px;
    font-style:normal;
    font-size: larger;
    color:black;
    margin:1% 2%;
    display: flex;
    height:5%;
}




.navigation{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.navigation a{
    margin: 10px;
    padding:5px;
    font-size:x-large;
    color: rgb(109, 109, 109);
    text-decoration:none;
}
.navigation a:hover {  
    border-radius: 5px;
    text-decoration: underline ; 
    color:rgb(171, 171, 171);
}



.dropdown{
    position: relative;
}
.dropdown:hover .permbajtja{
    display: flex;
    flex-direction: column;
}

.permbajtja{
    display: none;
    position: absolute;
    justify-content: center;
    top: 100%; 
    left:0%;
    min-width: 160px;
    width:300px;
    height:fit-content;
    background-color:rgb(244, 244, 242);
    border-radius: 8px;;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    color:rgb(122, 122, 122);
    line-height: 0.7;
    z-index:2;
}
.permbajtja a:hover{
    text-decoration: underline;
}


.search{
    display:flex;
    justify-content: end;
}
.inputi{
    border-radius: 30px;
    margin-right:10px;
    padding:8px;
}

button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
button img{
    width:28px;
    height:28px;
    border: none;
    border-radius:50%;
    object-fit: cover;
    cursor: pointer;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: solid #fadbdf;
    align-items: center;
    padding: 20px 15px;
    height:auto;
    background-color: #fceef0;
}
    .follow{
        display:flex;
        flex-direction: row;
        align-items:center;
        flex-wrap: wrap;
        width:100%;
        height: auto;
    }
    .social{
        margin:0px auto;
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:auto;
    }
    .social img{
        width:35px;
        margin: 0px 10px;
    }
    .fundi a{
        text-decoration: none;
        color: black;
        margin-left:0px;
         display: flex;
    }
    .permbledhja{
        display:flex;
        flex-direction: column;
        justify-content: start;
        background-color:#fceef0;
        flex-wrap: wrap;
        padding:1%;
        line-height: 1.3;
    }
    .permbledhja a{
        margin: 1% 4%;
        text-decoration: none;
        color: black;
        font-size: x-large;
    }
    h2{
        margin: 8% 10%;  
    }
    
    .end{
        background-color:#fceef0;
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .tt{
        display: flex;
        flex-direction: column;
        width:40%;
        height:10%;
        padding:2%;
        flex-wrap: wrap;
    
    }
    #enchant{
        font-family: "WindSong", sans-serif;
        font-weight: 400px;
        font-style:normal;
        font-size: xx-large;
        color:black;
    }
    #trademarks{
        display: flex;
        flex-direction: column;
        width:100%;
        line-height: 1.6;
        flex-wrap: wrap;
    
    }
    
    .line{
         width: 90%;
         border-top: 2px solid black;
    }
    
    #vije{
        background-color: #fceef0;
        padding:1%;
    }
    
    
    