@media (max-width: 675px){
    .foto{
        width: 0% ;
        height: 0%; 
    }
    .login{
        width: 100%;
    }
    .container{
        width: 60%;
        padding: 2%;
    }   
    .txt{
        font-size: medium;
        margin-bottom:3%;
    }
    .inputi{
        width: 100%;
        margin-bottom: 2%; 
    }
    .sub{
        width: fit-content;
        font-size:x-small;
    }
    .signup{
        width: 100%;
        font-size: small;
    }
    p{
        font-size: x-small;
        
    }
    
}