@media (max-width: 675px) {
    .in {
        flex-direction: row; 
        align-items: start;
    }

    .dekore {
        width: 100%; 
        height:400px;
        margin:20px 10px;
        flex-direction: column; 
        font-size: medium;
        line-height: 0.5;
    
    }

    .dekore img {
        width: 280px; 
        height: auto; 
        margin: 10px 0;
    }

    .inspiration {
        text-align: center; 
        font-size: large;
    }
    

#slideshow {
    width: 100vw;
    height:auto;
    overflow: hidden;
    justify-content: center;
    align-items:start;
    margin:0%;
}

.dekore img{
    width:200px;
    height:300px;
}
.slide{
    gap:10px;
}

#para{
    left:5px;
}
#pas{
    right: 5px;
}


}

@media (min-width: 769px) {
    .dekore {
        width: 45%; 
    }

    .dekore img {
        margin: 10px auto;
    }
}
@media (max-width: 1024px){
    .dekore {
        width: 45%; 
    }

    .dekore img {
        margin: 10px auto;
    }
}
@media (min-width: 1440px) {
    .dekore {
        width: 16%;
    }

    .in {
        margin: 50px auto;
    }
}