#slideshow{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:100%;
    height:auto;
    margin:0 auto;
}

#slideshow img{
    width:100vw;
    height:95vh;;
}

#slides{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.darker{
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    height: 95vh;
    background-color:rgba(24, 24, 24, 0.5);
    z-index: 1;
}

#slideshow .mesazhi{
    position: absolute;
    z-index: 2;
    top:35%;
    left:15%;
    color: white;
    width:70%;
    font-size:x-large;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 2;
}
