body{
    margin: 0px 0px;
}

header{
    display:flex;
    flex-direction: row;
    width:100%;
    height: 200px;

}
.container1{
    display: flex;
    flex-direction: row;
    width:100%;
    align-items:center;
    padding: 0px 20px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.titulli{
    display: flex;
    flex-direction: row;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
     color:black;
    margin:10px;
}

.navigation{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:10px;
}
.navigation a{
    margin: 15px;
    font-size:larger;
    color: rgb(109, 109, 109);
    text-decoration:none;
}
.hyrja{
    margin: 0;
    background-image: url(Hyrja2.avif);
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: start;
    
}
.teksti{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 20px;
    padding: 10px;
    color: white;
    font-family: Arial, sans-serif;
    width: 40%;
    font-size: x-large;
    line-height: 1.6;
    font-family: ;
}