body{
    margin: 0px;
}

header{
    display:flex;
    flex-direction: row;
    width:100%;
    height: 120px;

}
.container1{
    display: flex;
    flex-direction: row;
    width:100%;
    padding: 0px 20px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.titulli{
    display: flex;
    flex-direction: row;
    font-family: "WindSong", sans-serif;
    font-weight: 400px;
    font-style:normal;
    font-size: larger;
    color:black;
    margin:10px;
}


/* navigation */

.navigation{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
.navigation a{
    margin: 15px;
    padding:5px;
    font-size:x-large;
    color: rgb(109, 109, 109);
    text-decoration:none;
}
.navigation a:hover {   /*  hover */
    border-radius: 5px;
    text-decoration: underline ; 
    color:rgb(171, 171, 171);
}

/*dropdown*/

.dropdown{
    position: relative;
}
.dropdown:hover .permbajtja{
    display: flex;
    flex-direction: column;
}

.permbajtja{
    display: none;
    position: absolute;
    justify-content: center;
    top: 120%; 
    left:0%;
    min-width: 160px;
    width:300px;
    height:fit-content;
    background-color:rgb(244, 244, 242);
    border-radius: 8px;;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    color:rgb(122, 122, 122);
    line-height: 0.7;
}
.permbajtja a:hover{
    text-decoration: underline;
}

/* search bar */
.search{
    display:flex;
    justify-content: end;
}
.inputi{
    border-radius: 30px;
    margin-right:10px;
    padding:8px;
}

button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
button img{
    width:28px;
    height:28px;
    border: none;
    border-radius:50%;
    object-fit: cover;
    cursor: pointer;

}

 /* Pjesa e fotos ne qender*/

.hyrja{
    margin: 0;
    background-image: url(couple4.avif);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: start;
    
}
.teksti{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 60px;
    width: 40%;
    font-size: x-large;
    line-height: 1.6;
}

#welcome{
    font-family: "WindSong";
    color:rgb(189, 189, 189);
    font-size: xx-large;
    font-weight: 500;
}
#description{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:rgb(189, 189, 189);
}

/* Kutite*/

.container2{
    display: flex;
    flex-direction: row;
    width:85%;
    align-items:center;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
}
.kuti{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    color: black;
    font-size: large;
    line-height: 1.6;
    text-align: center;
    border: 3px solid rgb(224, 201, 171);
    width: 15%;
    border-radius: 8px;
    height: 250px;
    line-height: 1.6;
}
#dizajn-sh{
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
    color: rgb(122, 122, 122);
    text-align: center; 
    margin: 0 auto; 
    padding: 10px 0; 
    width: 80%; 
}

.about{
    display: flex;
    flex-direction: column;
    margin:50px 70px;
    padding:15px;
    width:50%;
    height:250px;
    font-size: x-large;
    font-style: italic;
    flex-wrap: wrap;
    line-height: 2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border-left :5px solid #E5C9D7;
}
#kuota{
    margin-top: 200px;
    margin-right: 500px;
    font-size: x-large;
    font-style: italic;
}
.success{
    display:flex;
    flex-direction: row;
    width: 70%;
    margin: 40px 40px;
    
}
.stories img{
    width: 300px;
    height: 420px;
    margin: 20px;
    border-radius: 8px;
}
.stories{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
}
.pershkrimi{
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    width: 80%;
    line-height: 1.5;
    font-size: larger;
    text-align: center;
    color: black;
}
.stories a{
    text-decoration: none;
}
.stories a:hover{
    text-decoration: underline;
    color: rgb(171, 171, 171);
    
}
.stories img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.t1{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-style: italic;
}




