*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.hyrja{
    background-image: url(couple4.avif);
    width: 100vw;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    
}
.teksti{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 60px;
    width: 40%;
    line-height: 1.6;
}

#welcome{
    font-family: "WindSong";
    color:rgb(189, 189, 189);
    font-size: xx-large;
    font-weight: 500;
}
#description{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: larger;
    color:rgb(189, 189, 189);
    width:100%;
}


.container2{
    display: flex;
    flex-direction: row;
    width:100%;
    height:auto;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 50px;
}
.kuti{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    padding: 8px;
    border: 3px solid #E5C9D7;
    width: 20%;
    border-radius: 15px;
    height:300px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.kuti a{
    width:90%;
    font-size: large;
    text-align: center;
    line-height: 1.6;
    text-decoration: none;
    color: rgb(122, 122, 122);
}
.container2 .kuti:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.container2 .kuti p {
    transform: none;
}
#dizajn-sh{
    font-family:'Times New Roman', Times, serif;
    font-size:larger;
    color: rgb(122, 122, 122);
    text-align: center; 
    margin: 0 auto; 
    width: 80%; 
}

.about{
    display: flex;
    flex-direction: column;
    margin:150px 70px;
    padding:15px;
    width:40%;    
    height:auto;
    font-size: large;   
    font-style: italic;
    flex-wrap: wrap;
    line-height: 2;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border-left :5px solid #E5C9D7;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
#kuota{
    text-align: right;
    margin-top: 20px;
    margin-right: 0;
}
.success{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;        
    margin:0%;   
}
.stories img{
    width: 280px;   
    height: 350px; 
    margin: 10px;
    margin-bottom:3px; 
    border-radius: 8px;
}
.stories{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}
.pershkrimi{
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
    width: 80%;
    line-height: 1.5;
    font-size: larger;
    text-align: center;
    color: black;
}
.stories a{
    text-decoration: none;
}

.stories p{
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 6% 5%;
    max-height: 120px;
    color: black;   
    font-size: large;
    line-height: 0.5;
    transform: none;
}
.stories a:hover{
    text-decoration: underline;
    color: rgb(171, 171, 171);
    
}
.stories img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.2);
}
.t1{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-style: italic;
}
.mesazhi #o1{
    font-family: "WindSong", sans-serif;
    font-size: xx-large;
    font-weight: 500;
}
.explore{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    width: 85%;
    flex-wrap: wrap;
}
.t1 h2{
    margin:3%;
}

.shtesa img{
    background-color:#E5C9D7 ;
    width: 80px;
    border-radius:10%;
    object-fit: cover;
    padding: 10px;
    border: 2px, solid, #ce9ab4;
    box-shadow: 0px 5px 16px #ce9ab4;

}
.explore a{
    text-decoration: none;
    font-size: x-large;
    color: rgb(122, 122, 122);
    text-align: center;
}
.shtesa{
    display: flex;
    justify-content: center;
    align-items: center;
    width:5%;
    height: auto;
    padding: 10px;
}
.vija{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fceef0;
    width:100%;
    height: 500px;
    align-items: center;

}
.artikuj{
    display: flex;
    flex-wrap: wrap;
    width: 18%;   
    height: auto;  
    max-height:400px; 
    margin: 2% 0.7%;
     padding: 0.5%;    
    border-radius: 15px;
    background-color: #f3eeef;
}
.artikuj img{
    width: 98%;   
    height: 60%;  
    border:2px, solid, rgb(161, 161, 161);
    border-radius: 8px;
}
.artikuj a{
    text-decoration: none;   
}
.artikuj p{
    font-size: medium;
}
.artikuj a:hover{
    text-decoration: underline;
    color: rgb(171, 171, 171);
    
}
.artikuj:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.2);
}
