body{
    margin: 0;
    padding: 0;
}
#titulli{
    font-size: xx-large;
    margin: 2% 5%;
}
#adresa{
    font-size: large;
}
p{
    margin:10px;
}
#slideshow {
    position: relative;
    width: 100%;
    height:40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
}
.fotot_veqanta {
    width: 32%;
    height:40vh;
    margin: 1px;
    border-radius: 10px;
    z-index: -1;
}
.slide{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width:90%;
}

.activ{
    display: flex;
}



#para{
    display: flex;
    left:10px;
}
#pas{
    display: flex;
    right: 10px;
}
.butoni{
    position: absolute;
    font-size: 20px;
    background: rgba(127, 127, 127, 0.5);
    color: white;
    border: none;
    border-radius: 10%;
    padding: 0.5%;
    cursor: pointer;
}

.detaje{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
    height:60%;
}

.pershkrimi{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 500px;
    width:50%;
    height:60%;
    margin:2% 4%;
    font-size: large;
    line-height: 1.6;
}
h3{
    margin:0;
    font-size: x-large;
}
.harta{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin:3%;
    flex-wrap: wrap;
}
#map{
    margin-bottom:5%;
}
.harta p{
    font-size: large;
}
.detaje_tjera{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
    height: 50%;
    font-size: larger;
    line-height: 1.5;
    margin-top: 50px;
}
.vendi{
    display: flex;
    flex-direction: column;
    margin:0%;
    width:18%;
}
.booking {
    width: 40%; 
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.regjistrimi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% 5%;
}
.regjistrimi input{
    width: 95%; 
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.regjistrimi select{
    width: 95%; 
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
.regjistrimi textarea {
    width: 95%; 
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
    resize: none;
}

.regjistrimi .button {
    width: 95%;
    padding: 12px;
    font-size: large;
    background-color: #4a4c4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.regjistrimi .button:hover {
    background-color: #303233;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width:60%;
    min-height: 500px;
    height:auto;
    margin:5% 0%;
    justify-self: center;
    border: #818080 solid;
    padding:3%;
}
.reviews img{
    width:4%;
    height:4%;
    margin:2%;
}
.reviews h3{
    display: flex;
    align-items: center;
    margin-bottom:2%;
}
.review_individuale{
    border-bottom: #b3b3b3 solid;
}
#e_para{
    border-top: #b3b3b3 solid;
}
#emri{
    display: flex;
    align-items: center;
}